In [29]:
print(2+2)
print(4*4)

4
16

# Kintamieji ir kintamųjų tipai
Kintamasis - skaičius, pliuso operacija

In [16]:
a = 5
print(a+a)

10

kintamasis - tekstas, pliuso operacija

In [18]:
t = "5"
print(t+t)

55

In [21]:
at = int(t)
print(at)

5

sudedam du skaičius, konvertuodami tekstą i skaičių

In [32]:
print(int(t)+a)

10

sudedam du tekstus, konvertuodami skaičių į tekstą

In [33]:
print(t+str(a))

55

spausdiname du skirtingų tipų kintamuosius

In [34]:
print(a, t)

5 5

...per f"" funkciją

In [35]:
print(f"skaicius {a}")

skaicius 5

# Realieji skaičiai

In [2]:
r = 42.69
print(r)

42.69

In [6]:
print(r+a)

47.69

In [8]:
print(a)
print(float(a))

5
5.0

In [15]:
print(type(a))
print(a/2)
print(int(a/2))
print(round(a/2+0.001))

<class 'int'>
2.5
2
3

## Kintamųjų esmė

In [25]:
tipas = type(a/2)
print(tipas)

<class 'float'>

In [24]:
dalyba = a/2
print(dalyba*3)

7.5

# Kintamųjų pavadinimai

In [28]:
tekstas_su_kabutemis = 'how are you? I\'m ok'
tekstas_su_dvigubom = "I'm quoting you: \"tripple quotes not!\""
print(tekstas_su_kabutemis, tekstas_su_dvigubom, sep="\n")

how are you? I'm ok
I'm quoting you: "tripple quotes not!"

In [29]:
lucky7 = 777
print(lucky7)

777

In [33]:
vardas = "Baublys"
Vardas = "Didelis Baublys"
print(Vardas)

Didelis Baublys

In [1]:
TechniskaiToksKintamasisVeiks = 12345
print(TechniskaiToksKintamasisVeiks)

12345

In [2]:
_vardas = "Baubliukas"
print(_vardas)

Baubliukas

In [3]:
__vardas = "Vargselis Baublelis"
print(__vardas)

Vargselis Baublelis

In [5]:
____ = "4 underscorai"
print(____)

4 underscorai

In [6]:
kibirėlis = "5 litrų"
print(kibirėlis)

5 litrų

In [7]:
žaislas = 0
print(žaislas)

0

# Kitos matematinės funkcijos

In [28]:
a = 5
b = a + 1
print(b)

6

In [33]:
b += a
print(b)

31

In [79]:
b = b + a
print(b)

680.0

In [77]:
b -= 3
print(b)

670.0

In [67]:
b *= 7
print(b)

700.0

In [80]:
lankytojai = 0
print(lankytojai)

0

In [132]:
lankytojai += 1
print(lankytojai)

-237

In [145]:
print(a)
kvadratu = a**2
print(kvadratu)

5
25

In [146]:
from math import sqrt
print(kvadratu)
saknis = sqrt(kvadratu)
print(saknis)

25
5.0

# Dalybos operatoriai

dalyba be liekanos

In [153]:
print(kvadratu//3)

8

liekana

In [149]:
print(kvadratu%3)

1

In [158]:
simtasvienas = kvadratu*4+1
print(simtasvienas)
print(simtasvienas//3)
print(simtasvienas%3)

101
33
2

# Teksto karpymas

In [167]:
zodis = "CodeAcademy"
print(zodis[0])
print(zodis[1])
print(zodis[4])
print(zodis[-2])

C
o
A
m

In [177]:
print(zodis[:4])
print(zodis[4:])
print(zodis[2:2+4])
print("---")
print(zodis[::2])
print(zodis[1::2])
print(zodis[::-1])

Code
Academy
deAc
---
CdAaey
oecdm
ymedacAedoC

In [179]:
zodis2 = "Code Academy"
# dalinam stringus
print(zodis2.split())

['Code', 'Academy']

In [180]:
print(zodis2.upper())

CODE ACADEMY

In [181]:
print(zodis2.lower())

code academy

In [183]:
mazosiomis = zodis2.lower()
print(mazosiomis.capitalize())

Code academy

In [194]:
print(zodis2)
print(zodis2.replace('c', 'k'))
print(zodis2.replace('Code', 'Fun'))
print(zodis2.casefold().replace('CODE'.casefold(), 'Fun'))

Code Academy
Code Akademy
Fun Academy
Fun academy

In [196]:
veiksmas = "Mokomės"
print(veiksmas + " " + str(a) + " dienų " + zodis2)
print(f"{veiksmas} {a} dienų {zodis2}")

Mokomės 5 dienų Code Academy
Mokomės 5 dienų Code Academy

# input

In [199]:
# input funkcijos demo
pirmas = input("Įveskite pirmą žodį: ")
antras = input("Įveskite antrą ždoį: ")
print(f"Sakinys: {pirmas} {antras}.")

Sakinys: Labas Pythone.

In [201]:
# input funkcijos demo
pirmas = input("Įveskite pirmą skaičių: ")
antras = input("Įveskite antrą skaičių: ")
print(f"Suma: {int(pirmas)+int(antras)}.")

Suma: 18.

In [202]:
# input funkcijos demo
pirmas = int(input("Įveskite pirmą skaičių: "))
antras = int(input("Įveskite antrą skaičių: "))
print(f"Suma: {pirmas+antras}.")

Suma: 107.

# Logika

In [213]:
print(2+2==4)
print(2+2==5)
print(2+2!=5)
print(3<2)
print(14/2>=7)

True
False
True
False
True

In [214]:
skaicius = 7
if skaicius > 0:
    print("Skaicius daugiau uz nuli")
else:
    print("Skaicius maziau uz nuli")

Skaicius daugiau uz nuli

In [215]:
skaicius = -7
if skaicius > 0:
    print("Skaicius daugiau uz nuli")
else:
    print("Skaicius maziau uz nuli")

Skaicius maziau uz nuli

In [220]:
skaicius = 0
if skaicius > 0:
    print(f"{skaicius} daugiau uz nuli")
elif skaicius == 0:
    print(f"{skaicius} lygus nuliui")
else:
    print(f"{skaicius} maziau uz nuli")

0 lygus nuliui

In [228]:
skaicius = -1
if skaicius >= 0:
    print(f"skaicius {skaicius} yra daugiau uz arba lygus 0")
    if skaicius >= 10:
        print(f"skaicius {skaicius} yra daugiau uz arba lygus 10")
#     else:
#         print(f"skaicius {skaicius} yra maziau uz 10")
# else:
#     print(f"skaicius {skaicius} yra maziau uz 0")